.navbar {
  border-color: black;
}

.themecolor {
  background-color: #bd5d38;
}

.col-md-4 .project-thumbnail-post__link {
  height: 260px;
}

@media (max-width: 985px) {
  .col-md-4 .project-thumbnail-post__link {
    height: 290px;
  }
}

@media (max-width: 761px) {
  .col-md-4 .project-thumbnail-post__link {
    height: 200px;
  }
}

.col-md-6 .project-thumbnail-post__link {
  height: 320px;
}

@media (max-width: 985px) {
  .col-md-6 .project-thumbnail-post__link {
    height: 400px;
  }
}

@media (max-width: 761px) {
  .col-md-6 .project-thumbnail-post__link {
    height: 200px;
  }
}

.col-md-3 .project-thumbnail-post__link {
  height: 167px;
}

@media (max-width: 985px) {
  .col-md-3 .project-thumbnail-post__link {
    height: 220px;
  }
}

@media (max-width: 761px) {
  .col-md-3 .project-thumbnail-post__link {
    height: 185px;
  }
}

@media (max-width: 761px) {
  .navbar-menu_minified {
    width: 100%;
  }
}

@media (max-width: 761px) {
  .navbar-menu_top {
    padding-top: 40px;
  }
}

@media (min-width: 761px) {
  .navbar-menu_top {
    display: block !important;
  }
}

@media (max-width: 761px) {
  .navbar-menu_logo {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 761px) {
  .navbar-menu_toggle {
    position: absolute !important;
  }
}

.project-author-image__size {
  height: 45px;
}

@media (max-width: 761px) {
  .project-author-image__size {
    height: 32px;
  }
}

.project-thumbnail__btn {
  top: calc(50% - 19px);
  left: calc(50% - 51.5px);
}

.project-readmore__btn {
  left: calc(50% - 51.5px);
}

.user-category__radius {
  border-radius: 100px;
}

button:focus {
  outline: none;
}
