.navbar {
  border-color: black;
}

.themecolor {
  background-color: #bd5d38;
}

@media (max-width: 761px) {
  .navbar-menu_minified {
    width: 100%;
  }
}

@media (max-width: 761px) {
  .navbar-menu_top {
    padding-top: 40px;
  }
}

@media (min-width: 761px) {
  .navbar-menu_top {
    display: block !important;
  }
}

@media (max-width: 761px) {
  .navbar-menu_logo {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 761px) {
  .navbar-menu_toggle {
    position: absolute !important;
  }
}

.news-author-image__size {
  height: 45px;
}

@media (max-width: 761px) {
  .news-author-image__size {
    height: 32px;
  }
}

.news-thumbnail__btn {
  top: calc(50% - 19px);
  left: calc(50% - 51.5px);
}

.user-category__radius {
  border-radius: 100px;
}

button:focus {
  outline: none;
}
